@charset "utf-8";
/* CSS Document */

body{
	background-color:#FBFBFB;
}

div#wrap{
	margin:0 auto;
	width:1000px;
	background-color:#fff;
}

header{
	margin:0 auto 25px auto;
	text-align:center;
}

div#title{
	margin:0 auto;
}

h3{
	text-align:center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size:25px;
	font-weight:lighter;
}

div#stitle{
	margin:26px 20px 32px 40px;
}

h3#l{
	float:left;
}

h1{
	text-align:center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size:50px;
	font-weight:bold;
	margin:0 auto 20px 0;
	color:#ff7f7f;
}

h2{
	text-align:center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size:25px;
	font-weight:lighter;
}

h4{
	margin:0 0 18px 40px;
	font-size:25px;
}
p{
	margin:0 20px 35px 40px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size:21px;
	font-weight:lighter;
	line-height:40px
}

img{
	margin:0 0 30px 20px;
}

span{
	font-weight:bold;
	color:#ff0000;
}